@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* start of navigation bar style code*/

* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.logo_image img {
    /* position: absolute; */
    margin-top: 3px;
    margin-left: 280px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
	font-size: 20px;
	
}

nav a:hover {
    transition: 5s;
    text-transform: uppercase;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}


/* end of navigation bar style code*/

body {
    background-color: rgb(235, 205, 231);
    margin: 0;
    height: 100vh;
    display: inline;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}

/* main section*/
a:visited { 
    text-decoration: none; 
    color: black; 
}

a{
    text-decoration: none;
}


.welcome {
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;;
}

.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    height: 75vh;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 20px;
}

.menu_item:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #ffe4c4ff;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}

.img_title {
    display: flex;
    align-items: center;
    width: 200px;
}


.img_title img {
    margin-right: 10px;
}

.menu_item img {
    height: 80px;
    width: 80px;
}

.menu_item p {
    font-size: 30px;
}


/* end main section*/


/* Footer Css */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: DimGrey;
    font-family: 'Roboto', sans-serif;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 25px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 20px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
