@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* start of navigation bar style code*/
*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:bisque;
    font-family: 'Roboto', sans-serif;
}

.logo{
    color:black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.logo_image img{
    position: absolute;
    margin-top: 3px;
    margin-left: 280px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
   
}
.nav-links a{
    color:black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
}
 nav a:hover{
     transition: 5s;
     text-transform: uppercase;
 }
 


@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
    
}
/* end of navigation bar style code*/

body{
    background-color: rgb(235, 205, 231);
    margin: 0;
    height: 100vh;
    display: inline;
    justify-content: center;
    align-items: center;
}

.container1{

    margin-top: 200px;
    margin-left: 220px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-gap: 10px;
}
.container2{
    margin-top: 40px;
    margin-left: 220px;
    width: 69%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
   
}
.box{
    height: 200px;
    width: 500px;
    color: black;
    border: 3px solid black;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    height: 150px;
}
.box:hover{
    transform: scale(1.1);
    background: bisque ;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}
.box3{
    height: 200px;
    color: black;
    border: 3px solid black;
    position: relative;
    border-radius: 25px;
    padding: 20px;
    height: 150px;
}
.box3:hover{
    transform: scale(1.1);
    background: bisque ;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}

h2{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
}
h3{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 9%;
    transform: translate(-50%, -50%);

}
.arrowright {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .button1{
    position: absolute;
    top: 2%;
    left: 75%;
    height: 60px;
    width: 100px;
    
  }
  
  .button1:before {
    content: "";
    width: 25px;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 24px;
    transition: all 0.3s ease;
  }
  
  .button1:hover:before {
    right: 34px;
    width: 35px;
  }
  
  .button1:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #000000;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 20px;
    transition: all 0.3s ease;
  }
  
  .button1:hover:after {
    right: 34px;
    right: 30px;
  }
  .button2{
    position: absolute;
    top: 2%;
    left: 88%;
    height: 60px;
    width: 100px;
    
  }
  
  .button2:before {
    content: "";
    width: 25px;
    height: 2px;
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 24px;
    transition: all 0.3s ease;
  }
  
  .button2:hover:before {
    right: 34px;
    width: 35px;
  }
  
  .button2:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #000000;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 20px;
    transition: all 0.3s ease;
  }
  
  .button1:hover:after {
    right: 34px;
    right: 30px;
  }